<ion-view view-title="{{detail.data | date:'dd/MM/yyyy'}}" class="sfondoApplicazione">
  <ion-content>
  <br><br>
   <div class="row">
      <div class="col-50 col-offset-10" style="background-color:rgba(242, 242, 242, 0.9);">
          <h1 style="text-align:left;vertical-align:bottom;font-weight: bold;">{{detail.titolo}}</h1>
      </div>
      <div class="col-25 " style="text-align: right;">
            <i class="icon ion-android-mail icon-accessory" style="font-size: 70px;"></i>
      </div>
       
   </div>
   <br><br>
   <div class="row">
       <div class="col-80 col-offset-10" style="font-size: 130%;line-height: 150%; background-color:rgba(114, 166, 165, 0.9);color:#f7f6ed; padding:20px 10px;q">{{detail.descrizione}}</div>
       <div class="col-10">
           
       </div>
   </div>
      <ion-item class="item-thumbnail-right item-icon-right" style="background-color:transparent;margin:1px;padding:1px;" collection-repeat="r in risposte" >
   <div class="row" style="margin:1px;padding:1px;">
   <div class="col col-90 col-offset-10">
   
   <div class="card">
      <div class="item item-text-wrap">
       <h3 style="font-weight: bold;">{{r.username}} :</h3>
        {{r.Risposta}}
      </div>
  </div>
</div>
 </div>
  </ion-item>
   <br><br>
      <div class="row"><div class="col">
          <h2>Rispondi</h2>
      </div></div>
      <div class="row">
       <div class="col">
         	  <textarea ng-model="data.message" value="ssss" placeholder="Rispondi..." cols="54" rows="5"></textarea>
       </div>
   </div>
   <div class="row">
       <div class="col">
           <button class="button button-block  button-assertive " ng-click="Rispondi()">Rispondi</button>
       </div>
   </div>
    <div class="row">
       <div class="col">
           <br><br>
       </div>
   </div>
    <div class="row">
       <br><br><br>
   </div>
  </ion-content>
</ion-view>