<ion-view view-title="{{detail.data | date:'dd/MM/yyyy'}}" class="sfondoApplicazione">
  <ion-content>
  <br><br>
   <div class="row">
      <div class="col-50 col-offset-10" style="background-color:rgba(242, 242, 242, 0.9);">
          <h1 style="text-align:left;vertical-align:bottom;font-weight: bold;">{{detail.titolo}}</h1>
      </div>
      <div class="col-25 " style="text-align: right;">
            <i class="icon ion-android-mail icon-accessory" style="font-size: 70px;"></i>
      </div>
       
   </div>s
   <br><br>
   <div class="row">
       <div class="col-80 col-offset-10" style="font-size: 130%;line-height: 150%; background-color:rgba(114, 166, 165, 0.9);color:#f7f6ed; padding:20px 10px;q">{{detail.descrizione}}</div>
       <div class="col-10">
           
       </div>
   </div>
  </ion-content>
  
</ion-view>