<ion-view view-title="ALBUM" class="sfondoApplicazione">
 
  <ion-content>
    <h1 class="titoloPagina">GALLERIA</h1>
  <ion-item collection-repeat="item in albums" style="background-color:transparent;">
  <ion-item class="sfondoAlbumGallery">
       <a href="#/app/avviso/{{item}}#top"></a>
       <div class="row">
           <div class="col sfondoTitoloAlbum" ng-click="Visualizza(item)" >
               <h1 style="text-align:center;">{{item.Titolo}}</h1>
           </div>
       </div>
       <div class="row" style="width:100%;">
          <div class="col" style="text-align:center;" >
              <img src="{{item.fotoAlbum}}" class="image-list-thumb-icon"
             style="background-color:white;padding:4px;" />
           </div>
           <div class="col item-text-wrap" style="color:black;">
             {{item.descrizione}}
         </div>
       </div>
      
    </ion-item>
  </ion-item>
  <div class="row">
       <div class="col">
           <br><br>
       </div>
   </div>
    <div class="row">
       <br><br><br>
   </div>
  </ion-content>
  
</ion-view>