<ion-view view-title="Benvenuti" class="sfondoApplicazione">
  <ion-content>
    <div class="row">
        <div class="col">
            <h1 style="text-align:center;" class="titoloPagina">BENVENUTI</h1>
        </div>
    </div>
   <div class="row">
       <div class="col">
           <img style="width:100%;" src="http://nidoapp.altervista.org/Benvenuti.jpg" >
       </div>
   </div>
   <div class="card">
  <div class="item item-text-wrap" style="font-weight: bold;text-align:center;">
    Scuola dell'infanzia "Cesare Cantù" <br><br>
    039.5320136 - 393.2882687
  </div>
</div>

  <!--<div class="list card">

  <a href="#" class="item">
    Varie fasce orarie
  </a>
  <a href="#" class="item">
    Accoglienza da 3 mesi a 3 anni
  </a>

  <a href="#" class="item ">
    Cucina interna
  </a>

  <a href="#" class="item ">
    Spazio gioco - Ampio giardino
  </a>

</div>
</div>-->
  </ion-content>
  
</ion-view>