<ion-view view-title="Benvenuti" class="sfondoApplicazione">
  <ion-content>
    <div class="row">
        <div class="col">
            <h1 style="text-align:center;" class="titoloPagina">METEO BRIVIO</h1>
        </div>
    </div>
   <div class="card">
  <div class="item item-text-wrap" style="font-weight: bold;text-align:center;">
    Controlla il meteo dei prossimi giorni,
    genitori sempre pronti ;)
  </div>
</div>
<div class="row">
    <div class="col col-50 col-offset-20">
        <iframe width="150" height="319" scrolling="no" frameborder="no" noresize="noresize" src="http://www.ilmeteo.it/box/previsioni.php?citta=935&type=mps1&width=150&ico=1&lang=ita&days=3&font=Arial&fontsize=12&bg=FFFFFF&fg=000000&bgtitle=0099FF&fgtitle=FFFFFF&bgtab=F0F0F0&fglink=1773C2"></iframe>
    </div>
</div>
<div class="row">
    <iframe width="350" height="253" scrolling="no" frameborder="no" noresize="noresize" src="http://www.ilmeteo.it/box/previsioni.php?citta=5913&type=day1&width=200&ico=1&lang=ita&days=6&font=Arial&fontsize=12&bg=FFFFFF&fg=000000&bgtitle=0099FF&fgtitle=FFFFFF&bgtab=F0F0F0&fglink=1773C2"></iframe>
</div>
<br><br>
  
  </ion-content>
  
</ion-view>