<ion-view view-title="sing song" class="sfondoApplicazione">
  <ion-content>
  <br><br>
   <div class="row">
      <div class="col" style="background-color:rgba(242, 242, 242, 0.9);">
          <h1 style="text-align:center;vertical-align:bottom;font-weight: bold;">{{detail.Titolo}}</h1>
      </div>
       
   </div>s
   <br>
  
   <br>
   <div class="row">
       <div class="col col-offset-10">
            <iframe width="80%"  src="https://www.youtube.com/embed/kLoqDGFDES0" frameborder="0" allowfullscreen></iframe>
       </div>
   </div>
  <br><br>
   <div class="row">
       <div class="col-80 col-offset-10" style="font-size: 130%;line-height: 150%; background-color:rgba(114, 166, 165, 0.9);color:#f7f6ed; padding:20px 10px;q">{{detail.descrizione}}</div>
       <div class="col-10">
           
       </div>
   </div>
  
  <div class="row">
       <div class="col">
           <br><br>
       </div>
   </div>
    <div class="row">
       <br><br><br>
   </div>
  </ion-content>
  
</ion-view>